{{ partial "header.html" . }}

<article id="about">
  <header>
    <div class="wrap">
      <h1 class="smallcaps">
        About
      </h1>
    </div>
  </header>

</article>

{{ partial "footer.html" . }}


