uk// import custom fonts
// ————————————————————————————————

//  ____  _ __| |_ ___ _ __
// (_-< || (_-<  _/ -_) '  \
// /__/\_, /__/\__\___|_|_|_|
//     |__/
// Define the "system" font family

@font-face 
  font-family: 'System Font'
  font-style: normal
  font-weight: 300
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma')


//            _
//  _  _ _ _ (_)_ _____ _ _ ___
// | || | ' \| \ V / -_) '_(_-<
//  \_,_|_||_|_|\_/\___|_| /__/
// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-Light.eot') format('eot'), url('../fonts/UniversLTStd-Light.woff') format('woff'), url('../fonts/UniversLTStd-Light.ttf')  format('truetype')
//   font-weight: 200
//   font-style : normal

// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd.otf')
//   font-weight: 400 
//   font-style : normal

// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-Obl.otf')
//   font-weight: 400 
//   font-style : oblique

// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-Bold.eot') format('eot'), url('../fonts/UniversLTStd-Bold.woff') format('woff'), url('../fonts/UniversLTStd-Bold.ttf')  format('truetype')
//   font-weight: 700 
//   font-style : normal

// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-Black.otf')
//   font-weight: 800 
//   font-style : normal

// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-BlackObl.otf')
//   font-weight: 800 
//   font-style : oblique


// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-XBlack.otf')
//   font-weight: 900 
//   font-style : normal

// @font-face 
//   font-family: 'Univers'
//   src: url('../fonts/UniversLTStd-XBlackObl.otf')
//   font-weight: 900 
//   font-style : oblique

//                                       _
//  __ _ __ _ _ _ __ _ _ __  ___ _ _  __| |
// / _` / _` | '_/ _` | '  \/ _ \ ' \/ _` |
// \__, \__,_|_| \__,_|_|_|_\___/_||_\__,_|
// |___/
// @font-face 
//   font-family: 'Garamond'
//   src: url('../fonts/Garamond.eot') format('eot'), url('../fonts/Garamond.woff') format('woff'), url('../fonts/Garamond.otf')  format('opentype'), url('../fonts/Garamond.ttf')  format('truetype'), url('../fonts/Garamond.svg#AGaramondPro-Regular') format('svg');
//   font-weight: 400 


//  _ __  ___ _ _  ___
// | '  \/ _ \ ' \/ _ \
// |_|_|_\___/_||_\___/
@font-face 
  font-family: 'Monofur'
  src: url('../fonts/monofur/monof55.ttf')
  // src: url('http://lowi.org/annek/assets/fonts/monof55.ttf')
  font-weight: medium 
  font-style : normal

//     _ _         _
//  __| (_)____ __| |__ _ _  _
// / _` | (_-< '_ \ / _` | || |
// \__,_|_/__/ .__/_\__,_|\_, |
//           |_|          |__/
// @font-face 
//   font-family: 'BellaStencil'
//   src: url('../fonts/bella/F37BellaStencil.otf')
//   font-weight: medium 
//   font-style : normal

// @font-face 
//   font-family: 'Bella'
//   src: url('../fonts/bella/F37Bella.otf')
//   font-weight: medium 
//   font-style : normal

//  _
// (_)__ ___ _ _  ___
// | / _/ _ \ ' \(_-<
// |_\__\___/_||_/__/
@font-face 
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url('../fonts/material-icons/MaterialIcons-Regular.eot') /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'), url('../fonts/material-icons/MaterialIcons-Regular.woff') format('woff'), url('../fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype')
