{{ partial "header.html" . }}


<article class="single section">
 
  <div class="fixed fullscreen slider js_slider">
    <div class="frame js_frame">
      <ul class="slides js_slides">
        {{ range .Params.images }}
          <li class="js_slide">
            <div class="content" style="background-image:url('{{ . }}')"></div>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <section class="draggable">
    <div class="box">
      <p class="title is-1">{{ .Title }}</p>
      <div class="content">
        {{ .Content }}  
      </div>
    </div>
      {{ with .Params.latlng }}
        <iframe width="100%" height="420" src="http://maps.stamen.com/toner/embed#14/{{.latitude}}/{{.longitude}}"></iframe>  
      {{ end }}
    
  </section>

</article>

{{ partial "back.html" . }}
{{ partial "footer.html" . }}


