  <link rel="stylesheet" href="/assets/index.css">
  <script src="/assets/index.js"></script>
  {{ if eq .Site.Params.env "development" }}
    <script src="http://localhost:5678/livereload.js"></script>
  {{ end }}
  </body>
</html>


