<!DOCTYPE html>
<html lang="<%= settings.language %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0">

    {{ partial "initial-css.html" . }}

  </head>
  <body>        
    <!-- <div id="curtain"></div> -->


