<section id="hero" class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Anneke Janssen
      </h1>

      <h2 class="subtitle is-3">
        – Schreibt
      </h2> 

      <h2 class="subtitle is-3">
        – Schrieb
      </h2>

    </div>
  </div>
</section>
