<button id="toc" class="button">
  <span class="icon">
    {{ partial "iconset" . }}
  </span>
</button>

<nav id="menu">
 <!--  <section class="navigation section">
    <ul>
      <li><a id="home-link" href="/"> 
        <svg>
          <use href="#knack-sym"/>
        </svg>

      </a></li>
      <li><a id="about-link" href="/about"> about </a></li>
    </ul>
  </section> -->
  
</nav>