{{ partial "header.html" . }}

<style>

    html {
        display: flex;
        height: 100%;
    }

    body {
        background-color: #fff;
        position: relative;
        width: 100%;
    }

    canvas {
        left: 0%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0%;
    }
 
</style>

<div id="drei"></div>

{{ partial "footer.html" . }}
